name: javaCIGradle

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582

      - name: Build with Gradle Wrapper
        run: ${{ matrix.run_build_cmd }}

  dependency-submission:
    if: github.event_name == 'push'   # Option A : exécuter uniquement sur push
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Option B : vérifier que le JSON existe avant soumission
      - name: Check dependency graph JSON exists
        run: |
          if [ ! -f dependency-graph-reports/javacigradle-dependency-submission.json ]; then
            echo "File not found, skipping dependency submission"
            exit 0
          fi

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582
